USE [dtbSegurosCarros]
GO
/****** Object:  Schema [seguros]    Script Date: 19/11/2023 10:28:44 ******/
CREATE SCHEMA [seguros]
GO
/****** Object:  Schema [veiculos]    Script Date: 19/11/2023 10:28:44 ******/
CREATE SCHEMA [veiculos]
GO
/****** Object:  Table [seguros].[TB_CLIENTES]    Script Date: 19/11/2023 10:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguros].[TB_CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[Genero] [varchar](100) NOT NULL,
	[DataNascimento] [datetime] NOT NULL,
	[Idade] [int] NOT NULL,
	[Cpf] [varchar](11) NOT NULL,
	[DataAlteracao] [datetime] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seguros].[TB_COTACOES]    Script Date: 19/11/2023 10:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seguros].[TB_COTACOES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDCLIENTES] [int] NOT NULL,
	[IDVERSOESMODELOS] [int] NOT NULL,
	[MargemSegurancaAplicada] [decimal](18, 2) NOT NULL,
	[LucroAplicado] [decimal](18, 2) NOT NULL,
	[ValorSeguro] [decimal](18, 2) NOT NULL,
	[DataAlteracao] [datetime] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_COTACOES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [veiculos].[TB_MARCAS]    Script Date: 19/11/2023 10:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [veiculos].[TB_MARCAS](
	[ID] [int]  IDENTITY(1,1) NOT NULL,
	[NomeMarca] [varchar](100) NOT NULL,
	[TipoProducao] [varchar](50) NOT NULL,
	[DataAlteracao] [datetime] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_MARCAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [veiculos].[TB_MODELOSMARCAS]    Script Date: 19/11/2023 10:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [veiculos].[TB_MODELOSMARCAS](
	[ID] [int]  IDENTITY(1,1) NOT NULL,
	[IDMARCAS] [int] NOT NULL,
	[NomeModelo] [varchar](100) NOT NULL,
	[AnoInicialFabricacao] [int] NOT NULL,
	[AnoFinalFabricacao] [int] NULL,
	[DataAlteracao] [datetime] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_MODELOSMARCAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [veiculos].[TB_VERSOESMODELOS]    Script Date: 19/11/2023 10:28:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [veiculos].[TB_VERSOESMODELOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDMODELOSMARCAS] [int] NOT NULL,
	[DescriacaoVersao] [varchar](100) NOT NULL,
	[TipoCarroceria] [varchar](100) NOT NULL,
	[AnoInicialFabricacao] [int] NOT NULL,
	[AnoFinalFabricacao] [int] NOT NULL,
	[DataAlteracao] [datetime] NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
 CONSTRAINT [PK_TB_VERSOESMODELOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [seguros].[TB_COTACOES]  WITH CHECK ADD  CONSTRAINT [FK_TB_COTACOES_TB_CLIENTES] FOREIGN KEY([IDCLIENTES])
REFERENCES [seguros].[TB_CLIENTES] ([ID])
GO
ALTER TABLE [seguros].[TB_COTACOES] CHECK CONSTRAINT [FK_TB_COTACOES_TB_CLIENTES]
GO
ALTER TABLE [seguros].[TB_COTACOES]  WITH CHECK ADD  CONSTRAINT [FK_TB_COTACOES_TB_VERSOESMODELOS] FOREIGN KEY([IDVERSOESMODELOS])
REFERENCES [veiculos].[TB_VERSOESMODELOS] ([ID])
GO
ALTER TABLE [seguros].[TB_COTACOES] CHECK CONSTRAINT [FK_TB_COTACOES_TB_VERSOESMODELOS]
GO
ALTER TABLE [veiculos].[TB_MODELOSMARCAS]  WITH CHECK ADD  CONSTRAINT [FK_TB_MODELOSMARCAS_TB_MARCAS] FOREIGN KEY([IDMARCAS])
REFERENCES [veiculos].[TB_MARCAS] ([ID])
GO
ALTER TABLE [veiculos].[TB_MODELOSMARCAS] CHECK CONSTRAINT [FK_TB_MODELOSMARCAS_TB_MARCAS]
GO
ALTER TABLE [veiculos].[TB_VERSOESMODELOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_VERSOESMODELOS_TB_MODELOSMARCAS] FOREIGN KEY([IDMODELOSMARCAS])
REFERENCES [veiculos].[TB_MODELOSMARCAS] ([ID])
GO
ALTER TABLE [veiculos].[TB_VERSOESMODELOS] CHECK CONSTRAINT [FK_TB_VERSOESMODELOS_TB_MODELOSMARCAS]
GO
